body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 40px;
    color: #333;
    background-color:rgb(243, 176, 151);

}

.container {
    max-width: 700px;
    margin: 0 auto;
    background: rgb(255, 207, 189);
    padding: 45px;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

h1 {
    margin: 0 0 10px;
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    margin-top: 40px;
    color: #444;
}

p {
    line-height: 1.6;
    margin: 8px 0;
}

ul {
    margin: 10px 0 0 20px;
    padding: 0;
    line-height: 1.6;
}

.section {
    margin-bottom: 30px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(255, 108, 54);
  color: black;
}

.topnav a.active {
  background-color: teal;
  color: white;
}

.footer{
    height: 50px;
}

.footer-content{
    background-color: #f3e5f5;
    border: 1px solid #ab47bc;
    height: 32px; 
    padding: 8px;
}

