.mainimage {
    width: 20%;
   
}
.center-main{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

body{
    background-color:rgb(243, 176, 151);
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0px;
}

.grow {
  padding: 50px;
  transition: transform .2s; 
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.grow:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.footer{
    height: 50px;
}

.footer-content{
    background-color: #f3e5f5;
    border: 1px solid #ab47bc;
    height: 32px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
    padding: 8px;
}
